--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
numpy
pandas
matplotlib
scikit-learn
scipy
seaborn
jupyter
tqdm
pyarrow
requests
statsmodels
prophet
torchsummary
torchinfo
torchview
torchviz
graphviz
